div.Menu {
  grid-row: 1;
  grid-column: 1;
  padding: 16px;
  display: flex;
  place-items: center;
  background-color: var(--light);

  img {
    width: 48px;
    height: 48px;
    border-radius: 50px;
  }

  div {
    padding: 0 16px;
    width: 100%;
    text-align: right;
    
    i {
      font-size: 36px !important;
      color: var(--accent);
      opacity: 0.5;
      transition: opacity 100ms;
      &:hover { opacity: 1; }

      cursor: pointer;
      user-select: none;
      
      margin-left: 16px;
      vertical-align: middle;
    }
  }
}