body {
  margin: 0;
  font-family: "Inter";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --accent: #3666cf;
  --accent-light: #bccfec;
  --lightest: #f3f7f7;
  --light: #e6eaed;
  --mid: #d3d9dd;
  --dark: #C7BCB9;
  --darker: #a3aeb1;
  --darkest: #090a0b;

  --shadow-wide: 0 0 50px rgba(0, 0, 0, 0.1);
  --shadow-light: 0 0 10px rgba(0, 0, 0, 0.25);
  --shadow-heavy: 0 0 20px rgba(0, 0, 0, 0.25);

  color: var(--darkest);
  background-color: var(--light);
}

body, html, div#root {
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}

div#root {
  display: flex;
  place-items: center;
  place-content: center;
}